/**
 * Ported from GitLab UI:
 * packages/gitlab-ui/src/components/base/button/button.scss
 */

.gl-button {
  @apply gl-box-border gl-inline-flex gl-items-center gl-justify-center gl-font-normal gl-text-center gl-no-underline gl-align-middle gl-whitespace-nowrap gl-select-none gl-cursor-pointer;
  font-family: inherit;
}

.gl-button:not(.btn-link) {
  &:focus-visible,
  &:active,
  &:focus-visible:active {
    @apply gl-no-underline;
  }
}

.gl-button.gl-button {
  --gl-button-variant-foreground: var(--gl-button-default-primary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-default-primary-background-color-default);
  --gl-button-variant-border: var(--gl-button-default-primary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-default-primary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-default-primary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-default-primary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-default-primary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-default-primary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-default-primary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-default-primary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-default-primary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-default-primary-border-color-active);

  min-width: 32px;
  min-height: 32px;
  @apply gl-px-4 gl-py-0 gl-fill-current gl-justify-center gl-items-center gl-text-base gl-leading-normal;
  border: 1px solid var(--gl-button-variant-border);
  border-radius: var(--gl-button-border-radius);
  color: var(--gl-button-variant-foreground);
  background-color: var(--gl-button-variant-background);
  transition:
    color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
    background-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
    border-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
    box-shadow 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
    text-decoration-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);

  &::before {
    background-color: var(--gl-button-variant-border);
    transition:
      background-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1),
      border-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover {
    color: var(--gl-button-variant-hover-foreground);
    background-color: var(--gl-button-variant-hover-background);
    border-color: var(--gl-button-variant-hover-border);
  }

  &:focus-visible,
  &:focus-visible:active {
    @apply gl-focus;
    color: var(--gl-button-variant-focus-foreground);
    background-color: var(--gl-button-variant-focus-background);
    border-color: var(--gl-button-variant-focus-border);
  }

  &:active,
  &.active {
    color: var(--gl-button-variant-active-foreground);
    background-color: var(--gl-button-variant-active-background);
    border-color: var(--gl-button-variant-active-border);
  }
}

.gl-button.btn-default,
.gl-button.btn-default-secondary {
  --gl-button-variant-foreground: var(--gl-button-default-primary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-default-primary-background-color-default);
  --gl-button-variant-border: var(--gl-button-default-primary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-default-primary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-default-primary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-default-primary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-default-primary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-default-primary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-default-primary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-default-primary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-default-primary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-default-primary-border-color-active);
}

.gl-button.btn-default-tertiary {
  --gl-button-variant-foreground: var(--gl-button-default-tertiary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-default-tertiary-background-color-default);
  --gl-button-variant-border: var(--gl-button-default-tertiary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-default-tertiary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-default-tertiary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-default-tertiary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-default-tertiary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-default-tertiary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-default-tertiary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-default-tertiary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-default-tertiary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-default-tertiary-border-color-active);
}

.gl-button.btn-confirm {
  --gl-button-variant-foreground: var(--gl-button-confirm-primary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-confirm-primary-background-color-default);
  --gl-button-variant-border: var(--gl-button-confirm-primary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-confirm-primary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-confirm-primary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-confirm-primary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-confirm-primary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-confirm-primary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-confirm-primary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-confirm-primary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-confirm-primary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-confirm-primary-border-color-active);
}

.gl-button.btn-confirm-secondary {
  --gl-button-variant-foreground: var(--gl-button-confirm-secondary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-confirm-secondary-background-color-default);
  --gl-button-variant-border: var(--gl-button-confirm-secondary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-confirm-secondary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-confirm-secondary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-confirm-secondary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-confirm-secondary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-confirm-secondary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-confirm-secondary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-confirm-secondary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-confirm-secondary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-confirm-secondary-border-color-active);
}

.gl-button.btn-confirm-tertiary {
  --gl-button-variant-foreground: var(--gl-button-confirm-tertiary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-confirm-tertiary-background-color-default);
  --gl-button-variant-border: var(--gl-button-confirm-tertiary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-confirm-tertiary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-confirm-tertiary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-confirm-tertiary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-confirm-tertiary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-confirm-tertiary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-confirm-tertiary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-confirm-tertiary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-confirm-tertiary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-confirm-tertiary-border-color-active);
}

.gl-button.btn-danger {
  --gl-button-variant-foreground: var(--gl-button-danger-primary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-danger-primary-background-color-default);
  --gl-button-variant-border: var(--gl-button-danger-primary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-danger-primary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-danger-primary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-danger-primary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-danger-primary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-danger-primary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-danger-primary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-danger-primary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-danger-primary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-danger-primary-border-color-active);
}

.gl-button.btn-danger-secondary {
  --gl-button-variant-foreground: var(--gl-button-danger-secondary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-danger-secondary-background-color-default);
  --gl-button-variant-border: var(--gl-button-danger-secondary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-danger-secondary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-danger-secondary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-danger-secondary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-danger-secondary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-danger-secondary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-danger-secondary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-danger-secondary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-danger-secondary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-danger-secondary-border-color-active);
}

.gl-button.btn-danger-tertiary {
  --gl-button-variant-foreground: var(--gl-button-danger-tertiary-foreground-color-default);
  --gl-button-variant-background: var(--gl-button-danger-tertiary-background-color-default);
  --gl-button-variant-border: var(--gl-button-danger-tertiary-border-color-default);
  --gl-button-variant-hover-foreground: var(--gl-button-danger-tertiary-foreground-color-hover);
  --gl-button-variant-hover-background: var(--gl-button-danger-tertiary-background-color-hover);
  --gl-button-variant-hover-border: var(--gl-button-danger-tertiary-border-color-hover);
  --gl-button-variant-focus-foreground: var(--gl-button-danger-tertiary-foreground-color-focus);
  --gl-button-variant-focus-background: var(--gl-button-danger-tertiary-background-color-focus);
  --gl-button-variant-focus-border: var(--gl-button-danger-tertiary-border-color-focus);
  --gl-button-variant-active-foreground: var(--gl-button-danger-tertiary-foreground-color-active);
  --gl-button-variant-active-background: var(--gl-button-danger-tertiary-background-color-active);
  --gl-button-variant-active-border: var(--gl-button-danger-tertiary-border-color-active);
}

.gl-button.gl-button.btn-default.selected {
  color: var(--gl-button-selected-foreground-color-default);
  background-color: var(--gl-button-selected-background-color-default);
  border-color: var(--gl-button-selected-border-color-default);
  box-shadow: inset 0 0 0 1px var(--gl-button-selected-border-color-default);
}

.gl-button.btn-default.selected::before,
.gl-button.btn-default.selected + .gl-button::before {
  background-color: var(--gl-button-selected-border-color-default);
}

.gl-button.gl-button.btn-default.selected:hover {
  color: var(--gl-button-selected-foreground-color-hover);
  background-color: var(--gl-button-selected-background-color-hover);
  border-color: var(--gl-button-selected-border-color-hover);
  box-shadow: inset 0 0 0 1px var(--gl-button-selected-border-color-hover);
}

.gl-button.gl-button.btn-default.selected:focus-visible {
  @apply gl-focus;
  color: var(--gl-button-selected-foreground-color-focus);
  background-color: var(--gl-button-selected-background-color-focus);
  border-color: var(--gl-button-selected-border-color-focus);
}

.gl-button.gl-button.btn-default.selected:active,
.gl-button.gl-button.btn-default.selected.active {
  color: var(--gl-button-selected-foreground-color-active);
  background-color: var(--gl-button-selected-background-color-active);
  border-color: var(--gl-button-selected-border-color-active);
  box-shadow: inset 0 0 0 1px var(--gl-button-selected-border-color-active);
}

.gl-button .gl-button-text {
  @apply gl-overflow-hidden gl-text-ellipsis gl-whitespace-nowrap;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.gl-button .gl-button-icon {
  @apply gl-static gl-h-5 gl-w-5 gl-shrink-0 gl-mr-2;
}

.gl-button .gl-button-emoji {
  @apply gl-relative gl-mr-2 gl-text-lg;
}

.gl-button .gl-button-count {
  @apply gl-inline-flex gl-min-w-3 gl-shrink-0 gl-items-center gl-justify-center gl-px-2 gl-py-0 gl-ml-2 gl-border-1 gl-border-solid gl-border-transparent gl-rounded-full gl-text-sm gl-font-normal gl-leading-normal;
  background-color: var(--gl-button-count-background-color);
}

.gl-button.gl-button.btn-sm {
  @apply gl-px-3 gl-leading-normal gl-text-base;
  min-width: 24px;
  min-height: 24px;
}

.gl-button.btn-sm .gl-button-emoji {
  @apply gl-text-sm;
}

.gl-button.gl-button.btn-icon {
  @apply gl-leading-normal gl-p-0;
}

.gl-button.btn-icon .gl-button-icon {
  @apply gl-mr-0;
}

.gl-button.gl-button.button-ellipsis-horizontal {
  @apply gl-px-2;
  min-width: auto;
  min-height: auto;
}

.gl-button.button-ellipsis-horizontal svg {
  @apply gl-h-5 gl-w-5 gl-m-0;
}

.gl-button.gl-button.btn-label,
.gl-button.gl-button.btn-label:hover,
.gl-button.gl-button.btn-label:focus-visible,
.gl-button.gl-button.btn-label:active {
  @apply gl-bg-subtle gl-cursor-default gl-select-text;
}

.gl-button.gl-button.btn-link {
  @apply gl-px-0 gl-border-0 gl-bg-transparent gl-text-base gl-leading-normal;
  min-width: auto;
  min-height: auto;
  border-radius: var(--gl-button-link-border-radius);
  color: var(--gl-button-link-text-color-default);
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-thickness: auto;

  &:hover {
    @apply gl-bg-transparent;
    color: var(--gl-button-link-text-color-hover);
    text-decoration-color: var(--gl-button-link-text-color-hover);
  }

  &:active {
    @apply gl-bg-transparent;
    color: var(--gl-button-link-text-color-active);
    text-decoration-color: var(--gl-button-link-text-color-active);
  }

  &:focus-visible,
  &:focus-visible:active {
    @apply gl-bg-transparent;
  }
}

.gl-button.gl-button.btn-block {
  @apply gl-w-full;
}

.gl-button.btn-block + .gl-button.btn-block {
  @apply gl-mt-2;
}

.gl-button.gl-button.disabled,
.gl-button.gl-button.disabled:hover,
.gl-button.gl-button.disabled:focus-visible,
.gl-button.gl-button.disabled:active,
.gl-button.gl-button.disabled.selected {
  @apply gl-shadow-none gl-opacity-100 gl-cursor-not-allowed;
  border-color: var(--gl-button-disabled-border-color);
  color: var(--gl-button-disabled-foreground-color);
  background-color: var(--gl-button-disabled-background-color);
}

.gl-button.disabled::before {
  background-color: var(--gl-button-disabled-border-color);
}

.gl-button.gl-button.disabled[class*="-tertiary"],
.gl-button.gl-button.btn-link.disabled {
  @apply gl-bg-transparent gl-shadow-none;
}

.gl-button-text:has(.gl-sr-only) {
  @apply gl-relative;
}

@media (prefers-reduced-motion) {
  .gl-button.gl-button,
  .gl-button.gl-button::before {
    transition-duration: 0.01ms !important;
    transition-delay: 0ms !important;
  }
}

@media (forced-colors: active) {
  .gl-button.gl-button:focus-visible {
    outline: 2px solid LinkText;
  }

  .gl-button.btn-default-secondary,
  .gl-button.btn-confirm-secondary,
  .gl-button.btn-danger-secondary,
  .gl-button.btn-reset-secondary,
  .gl-button.btn-reset-tertiary {
    border: 1px solid LinkText;
    color: LinkText;
  }

  .gl-button.btn-default-tertiary,
  .gl-button.btn-confirm-tertiary,
  .gl-button.btn-danger-tertiary {
    border: 0;
    color: LinkText;
    mix-blend-mode: initial;
  }
}
