/**
 * Ported from GitLab UI:
 * packages/gitlab-ui/src/components/base/avatar/avatar.scss
 */

.gl-avatar {
  @apply gl-inline-flex gl-shrink-0 gl-w-7 gl-h-7 gl-overflow-hidden gl-leading-1 gl-object-contain;
  border-radius: var(--gl-avatar-square-border-radius-default);
  font-size: var(--gl-font-size-500);
  outline: 1px solid var(--gl-avatar-border-color-default);
  outline-offset: -1px;
}

.gl-avatar-s16 {
  @apply gl-w-5 gl-h-5;
  border-radius: var(--gl-avatar-square-border-radius-default);
  font-size: var(--gl-font-size-100);
}

.gl-avatar-s24 {
  @apply gl-w-6 gl-h-6;
  border-radius: var(--gl-avatar-square-border-radius-default);
  font-size: var(--gl-font-size-400);
}

.gl-avatar-s32 {
  @apply gl-w-7 gl-h-7;
  border-radius: var(--gl-avatar-square-border-radius-default);
  font-size: var(--gl-font-size-500);
}

.gl-avatar-s48 {
  @apply gl-w-9 gl-h-9;
  border-radius: var(--gl-avatar-square-border-radius-lg);
  font-size: var(--gl-font-size-600);
}

.gl-avatar-s64 {
  @apply gl-w-11 gl-h-11;
  border-radius: var(--gl-avatar-square-border-radius-lg);
  font-size: var(--gl-font-size-700);
}

.gl-avatar-s96 {
  @apply gl-w-13 gl-h-13;
  border-radius: var(--gl-avatar-square-border-radius-lg);
  font-size: var(--gl-font-size-800);
}

.gl-avatar-circle {
  border-radius: var(--gl-avatar-circle-border-radius-default);
}

.gl-avatar-identicon {
  @apply gl-items-center gl-justify-center gl-text-strong gl-text-center gl-align-top;
}

.gl-avatar-identicon-bg1 {
  color: var(--gl-avatar-fallback-text-color-red);
  background-color: var(--gl-avatar-fallback-background-color-red);
}

.gl-avatar-identicon-bg2,
.gl-avatar-identicon-bg3 {
  color: var(--gl-avatar-fallback-text-color-purple);
  background-color: var(--gl-avatar-fallback-background-color-purple);
}

.gl-avatar-identicon-bg4 {
  color: var(--gl-avatar-fallback-text-color-blue);
  background-color: var(--gl-avatar-fallback-background-color-blue);
}

.gl-avatar-identicon-bg5 {
  color: var(--gl-avatar-fallback-text-color-green);
  background-color: var(--gl-avatar-fallback-background-color-green);
}

.gl-avatar-identicon-bg6 {
  color: var(--gl-avatar-fallback-text-color-orange);
  background-color: var(--gl-avatar-fallback-background-color-orange);
}

.gl-avatar-identicon-bg7 {
  color: var(--gl-avatar-fallback-text-color-neutral);
  background-color: var(--gl-avatar-fallback-background-color-neutral);
}

@container (width >= 576px) {
  :where(html.with-gl-container-queries) .gl-sm-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html.with-gl-container-queries) .gl-sm-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html.with-gl-container-queries) .gl-sm-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html.with-gl-container-queries) .gl-sm-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html.with-gl-container-queries) .gl-sm-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html.with-gl-container-queries) .gl-sm-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}

@media (width >= 576px) {
  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html:not(.with-gl-container-queries)) .gl-sm-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}

@container (width >= 768px) {
  :where(html.with-gl-container-queries) .gl-md-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html.with-gl-container-queries) .gl-md-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html.with-gl-container-queries) .gl-md-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html.with-gl-container-queries) .gl-md-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html.with-gl-container-queries) .gl-md-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html.with-gl-container-queries) .gl-md-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}

@media (width >= 768px) {
  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html:not(.with-gl-container-queries)) .gl-md-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}

@container (width >= 992px) {
  :where(html.with-gl-container-queries) .gl-lg-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html.with-gl-container-queries) .gl-lg-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html.with-gl-container-queries) .gl-lg-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html.with-gl-container-queries) .gl-lg-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html.with-gl-container-queries) .gl-lg-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html.with-gl-container-queries) .gl-lg-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}

@media (width >= 992px) {
  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s16 {
    @apply gl-w-5 gl-h-5;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-100);
  }

  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s24 {
    @apply gl-w-6 gl-h-6;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-400);
  }

  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s32 {
    @apply gl-w-7 gl-h-7;
    border-radius: var(--gl-avatar-square-border-radius-default);
    font-size: var(--gl-font-size-500);
  }

  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s48 {
    @apply gl-w-9 gl-h-9;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-600);
  }

  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s64 {
    @apply gl-w-11 gl-h-11;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-700);
  }

  :where(html:not(.with-gl-container-queries)) .gl-lg-avatar-s96 {
    @apply gl-w-13 gl-h-13;
    border-radius: var(--gl-avatar-square-border-radius-lg);
    font-size: var(--gl-font-size-800);
  }
}
