.gl-icon.s8 {
  width: 8px;
  height: 8px;
}

.gl-icon.s12 {
  width: 12px;
  height: 12px;
}

.gl-icon.s14 {
  width: 14px;
  height: 14px;
}

.gl-icon.s16 {
  width: 16px;
  height: 16px;
}

.gl-icon.s24 {
  width: 24px;
  height: 24px;
}

.gl-icon.s32 {
  width: 32px;
  height: 32px;
}

.gl-icon.s48 {
  width: 48px;
  height: 48px;
}

.gl-icon.s72 {
  width: 72px;
  height: 72px;
}
